@model IEnumerable<MVC_Practica_AWS.Models.Apuesta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CrearApuesta" asp-controller="Apuestas" class="btn btn-outline-dark">
    Crear Apuesta
    </a>
</p>
<table class="table table-bordered table-hover justify">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdApuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEquipoLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEquipoVisitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GolLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GolVisitante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdApuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEquipoLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEquipoVisitante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GolLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GolVisitante)
            </td>
           
        </tr>
}
    </tbody>
</table>
